@tailwind base;
@tailwind components;
@tailwind utilities;

/* 文字のアンチエイリアス */
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* テキスト選択の色も赤に寄せる */
::selection { background: #e50914; color: #000; }